.daily-schedule-container {
    justify-content: center;
    overflow-y: 'auto';
    align-items: 'center'
  }

  .day-appointments-container {
    overflow-y: 'auto';
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .TimeSlot{
    margin-top: 15px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    width: 35%;
}

.PatientName{
    margin-top: 15px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    width: 43%;
}

.PatientId{
    margin-top: 15px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    width: 20%;
}

.daily-schedule-container{
    flex: 1;
    overflow-y: auto;
}