.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 94vh;
  position: absolute;
  align-items: center;
}

.Auth-form {
  width: 380px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative;
  top: 5%;
}

.Auth-form-content {
  padding-left: 8%;
  padding-right: 8%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.btn-primary{
  margin-top: 5%;
  margin-left: 15%;
  width: 70%;
}

.Banner{
  position: absolute;
  align-items: center;
  top:13%;
}

.login{
  background-color: lightblue;
  background-image: url('../public/background_logo.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.authfailed{
  color: darkred;
  margin-top: 10%;
  margin-left: 7%;
}