.rounded-rectangle {
    height: 100px;
    background-color: lightblue;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .day-task-rounded-rectangle{
     background-color: grey;
     border-radius: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
  }

  .container {
    display: flex;
    width: 400px;
  }